{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
       <h2>Welcome to our Form</h2>
        {{ form_start(form) }}

            {{ form_row(form.fullname) }}

            <div class="well" id="exp_list">
                {% for row in form.exp %}
                    {{ form_row(row) }}
                {% endfor %}
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
