{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
       <h2>Welcome to our Form</h2>
        {{ form_start(form) }}

            {{ form_row(form.fullname) }}

            <div class="well" id="exp_list" data-prototype="{{ form_widget(form.exp.vars.prototype)|e('html_attr') }}">
                {% for row in form.exp %}

                {% endfor %}
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
