{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <header class="page-header">
      <h1>Excel Data Importer</h1>
    </header>
    <section>
      <h2>Success: All Excel Data have been imported to the Database !</h2>
    </section>

    <footer>
      <p>Copyright &copy; 2020, All Rights Reserved</p>
    </footer>
  </div>

{% endblock %}

{% block javascripts %}

    <script>
    $(document).ready(function(){
      $('#multiselect').multiselect();

      
    });
  </script>

{% endblock %}