{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <header class="page-header">
      <h1>MultiSelector</h1>
    </header>
    <section>

    
      <div class="row multiselect-zone ">
        <div class="col-xs-5">
          <select name="from[]" id="multiselect" class="form-control" size="8" multiple="multiple">
          {% for langage in langages %}
            <option value="{{ langage.id }}">{{ langage.name }}</option>
          {% endfor %}
          </select>
        </div>

        <div class="col-xs-2 button-zone">
          <button type="button" id="multiselect_rightAll" class="btn btn-block btn-multiselect">
            <svg class="multiselect-svg bi bi-chevron-double-right" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L9.293 8 3.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L13.293 8 7.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
            </svg>
          </button>
          
          <button type="button" id="multiselect_rightSelected" class="btn btn-block btn-multiselect">
            <svg class="multiselect-svg bi bi-chevron-right" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
            </svg>
          </button>
          
          <button type="button" id="multiselect_leftSelected" class="btn btn-block btn-multiselect">
            <svg class="multiselect-svg bi bi-chevron-left" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            </svg>
          </button>
          
          <button type="button" id="multiselect_leftAll" class="btn btn-block btn-multiselect">
            <svg class="multiselect-svg bi bi-chevron-double-left" width="20px" height="20px"viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 010 .708L2.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 010 .708L6.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            </svg>
          </button>
        </div>

        <div class="col-xs-5">
          <select name="to[]" id="multiselect_to" class="form-control" size="8" multiple="multiple">
          </select>
        </div>
      </div>

      <div class="row submit-zone">
        <button type="submit" id="submitForm" class="btn btn-success">Valider</button>
      </div>

    </section>

    <footer>
      <p>Copyright &copy; 2020, All Rights Reserved</p>
    </footer>
  </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
    $(document).ready(function(){
      $('#multiselect').multiselect();

      
    });
  </script>

{% endblock %}